
# Need Python 3.11.0
# - py -3.11 -m venv venv311
# - venv311\Scripts\activate
# - pip install -r requirements_lock_cpu.txt

pip uninstall -y opencv-python opencv-contrib-python

# 1. Pin NumPy to the version MediaPipe loves
pip install "numpy<2"

# 2. Install MediaPipe (which will be happy now)
pip install mediapipe

# 3. Install the specific OpenCV version that supports NumPy 1.x
# (Note: We explicitly avoid 4.11/4.12)
pip install "opencv-contrib-python<4.10"